@{
    ViewBag.Title = "Home Page";
}
@using MemeGenerator.Models
@model MemeGenerator.Models.File_list

<div class="container">
    <div class=" header">
        Choose A Template
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">HOT</a></li>
                <li><a href="#">ALL</a></li>
                <li><a href="#">CUSTOM</a></li>
                <li><a href="#">NEW</a></li>
            </ul>
        </div>
    </nav>
    @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="uploadfile">
        <button type="submit">Upload</button>
        
    }
   
    <div class="row">
        @foreach (File_Model element in Model.list)
        {
            <div class="col-md-2" style="height: 100px; border: 1px solid black;" id="img-@element.fileid" onclick="location.href = '@Url.Action("NewMeme" ,"Home" ,new { id=element.fileid } )'">
                <img src="@element.filepath" height="100" width="150" />
            </div>
        }
    </div>
    @*<div class="row">
            <div class="col-md-2" style="height:100px; border:1px solid black;">

            </div>
            <div class="col-md-2" style="height: 100px; border: 1px solid black;"></div>
            <div class="col-md-2" style="height: 100px; border: 1px solid black;"></div>
            <div class="col-md-2" style="height: 100px; border: 1px solid black;"></div>
            <div class="col-md-2" style="height: 100px; border: 1px solid black;"></div>
            <div class="col-md-2" style="height: 100px; border: 1px solid black;"></div>
        </div>*@

</div>



































<script>
    $(document).ready(function () {
        $('#file').change(function () {
            alert("first Image Upload");
        })
    })
</script>
<script>
    //var canvas = document.getElementById("canvas1");
    //var ctx = canvas.getContext("2d");
    //ctx.font = "13px Arial";
    //ctx.FillText("MY TEXT!", 20, 20);
    //}
    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }
    function allowDrop(ev) {
        ev.preventDefault();
    }
    function drop(ev) {
        ev.preventDefault();
        var d = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }

</script>

    
    @ViewBag.Message
