
@{
    ViewBag.Title = "View_NewMeme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MemeGenerator.Models.File_Model
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container">

    <div class="row">
        <div class="col-md-6" style="border:1px solid silver;height:533px;">

            <img id="logo" src="@Model.filepath" height="170" width="170"  crossorigin="anonymous" />
            <div style="width:160px; height:60px; position:absolute;border:1px solid red;z-index:12;display:inline-block;left:20px;color:white;"  onclick= "getPositionXY(this)" id="logotext"></div>
            
            @*<div id="mydiv">
                   <input type="text" id="name" name="name" />
                </div>*@

            <br />
            <input type="text" id="txtwrite" class="form-control" name="txtImg"  onkeyup="myfunction()" placeholder="Write your text here..." style="margin-top:10px;" />
            <input type="button" value="ADD IMAGE" id="" />
        <!-- <p id='abc'></p>-->
        </div>
        <div class="col-md-6" style="border:1px solid silver;">

            <h3>Meme Details</h3>
            <p>
                Keywords: Same Picture, Spot the Difference, Pam and Creed The Office, They're the same picture,
                Corporate needs you to find the differences between this picture and this picture, Pam The Office meme
            </p>

            <p>
                Editable Content: Left, Right, Background,
            </p>

            <p>
                This two-panel meme features two frames taken from the extremely memeable series ‘The Office’.
                The first shows Pam Beesly (Jenna Fischer) presenting two identical photos to temporary Dunder Mifflin manager Creed with the (original) subtitles saying
                “Corporate needs you to find the differences between this picture and this picture”, followed by a second panel where she looks at her interviewer with
                the caption “They’re the same picture”. Although the significance of certain details are only to be understood by the show’s audience, the meme
                is a popular way of expressing the opinion that two things are identical/similar.
            </p>

            <p>
                Although the episode where the images are taken from aired in May 2011, the images would attain meme status much later.
                The second panel was first used as a reaction image, until the exploitable nature of the first panel in combination with the
                second was first utilized in June 2018. Given the widespread fanbase of The Office, and the lack of similar memes of the format,
                the meme has lived on since. The “They’re the same picture” can also (sometimes erroneously) be referred to as: Same Picture meme,
                Spot the Difference, Pam The Office meme, or Corporate needs you to find the differences between this picture and this picture.
            </p>

            <button type="button" onclick="getPositionXY(this)">Create Meme</button>
            @*<input type="button" value="Create Meme" class="btn btn-primary" onclick="change()" />*@
        </div>
    </div>
</div>



        
    

    <script>
        dragElement(document.getElementById("logotext"));

        function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id + "header")) {
              
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
            } else {
             
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
             
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
             
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
           
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement() {

              
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }
        //$('#txtwrite').change(function () {
        //    debugger
        //    var text = $('#logotext').html(this.value);
        //});
      function myfunction() {
           
            var x = document.getElementById("txtwrite").value;
            document.getElementById("logotext").innerText = x;
        }
 
    
    function getPositionXY(element) {
        debugger
        var cord = element.getBoundingClientRect();
        var text = $('#logotext').html();
        var postObj = {};
        postObj.text = text;
        postObj.fileName = $('#logo').attr('src').split('/')[2];
        postObj.x = cord.x;
        postObj.y = cord.y;
        

        $.ajax({
            url: '@Url.Action("WriteText" ,"Home")',
            method: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(postObj),
            async: true,
            success: data => {

            },
            error: error => {

                }

        });

        }
        
</script>






















@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <script>
        var canvas = document.getElementById('canvas'),
            ctx = canvas.getContext('2d');
        canvas.width = $('img').width();
        canvas.crossOrigin = "Anonymous";
        canvas.height = $('img').height();
        ctx.drawImage($('img').get(0), 0, 0);
        ctx.font = "36pt Verdana";
        $(document).on('input', '.form-control', function () {
            //redraw image
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage($('img').get(0), 0, 0);
            //refill text
            ctx.fillStyle = "red";
            ctx.fillText($(this).val(), 40, 80);
        });
        $('button').click(function () {
            console.log(ctx.getImageData(50, 50, 100, 100));
        });

    </script>
    <canvas id="canvas" />*@




